<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index.html</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
<h1 th:text="${name}"></h1>
<div id="container">
</div>

<script>
    $(document).ready(function(){
        $.ajax({
            url:'/admins',
            success:function(data){
                console.log(data);
                $.each(data,function(index, item){
                    // $('#container').append("<div>"+item.name+"("+item.age+")</div>");
                    $('#container').append("<div>"+item.seq+"("+item.name+")</div>");
                });
            }
        })
    });
</script>
</body>
</html>
