<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index.html</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
<h1 th:text="${name}"></h1>
<div id="container">
</div>
<div>
    <input type="text" id="name">
    <button id="create">생성</button>
</div>
<script>
    function load() {
        $('#container').empty();
        $.ajax({
            url:'/admins',
            success:function(data){
                console.log(data);
                $.each(data,function(index, item){
                    $('#container').append("<div>seq: "+item.seq+", name: "+item.name+"</div>");
                });
            }
        })
    }
    $(document).ready(function(){
        load();
        $("#create").click(function () {
            $.ajax({
                url:'/admin',
                type:'POST',
                data: JSON.stringify({
                    name: $("#name").val(),
                }),
                contentType:"application/json; charset=UTF-8",
                dataType:"json",
                success:function(data){
                },
                complete: function (jqXHR){
                    $("#name").val('')
                    load();
                }
            })
        });
    });
</script>
</body>
</html>
