<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
<h1>hello</h1>
<ul>
    {{#each numbers as |number i|}}
        <li>{{number}}</li>
    {{/each}}
</ul>
</body>
</html>
